# ignore the biggest data files
# keep some of the files so that the folder is uploaded to github
properties_2016.csv
properties_2017.csv
sample_submission.csv

# ignore .ipynb_checkpoints folder
.ipynb_checkpoints/